[submodule "SEEING"]
	path = SEEING
	url = https://github.com/FabioRossiArcetri/SEEING.git
[submodule "SYMAO"]
	path = SYMAO
	url = https://github.com/FabioRossiArcetri/SYMAO.git
[submodule "MASTSEL"]
	path = MASTSEL
	url = https://github.com/FabioRossiArcetri/MASTSEL.git
