[submodule "SEEING"]
	path = SEEING
	url = https://github.com/astro-tiptop/SEEING.git
[submodule "SYMAO"]
	path = SYMAO
	url = https://github.com/astro-tiptop/SYMAO.git
[submodule "MASTSEL"]
	path = MASTSEL
	url = https://github.com/astro-tiptop/MASTSEL.git
[submodule "P3"]
	path = P3
	url = https://github.com/astro-tiptop/P3.git
